input{
	display: flex;
	border: none;
	border-bottom: solid 1px #ccc;
}

body{
	margin: 0;
	padding-top: 10px;
	padding-left: 10px;
}

h3{
	padding-left: 5px;
}

img{
	padding-right: 10px;
	width: 30px;
	height: 30px;
}

.first{
	width: 40%;
}

.one{
	display: inline;
}

.user{
	display: flex;
	padding-bottom: 5px;
}

.email{
	display: flex;
	padding-bottom: 5px;
}

.two{
	display: flex;
	align-content: space-between;
	width: 99%;
}

.twoo{
	display: flex;
}

.twoone{
	padding-top: 11px;
}

.two{
	display: flex;
	justify-content: space-between;
}

.check{
	display: flex;
	padding-top: 15px;
	padding-left: 10px;
	width: 100%;
}

.first, .second{
	display: inline-block;
}

.one, input[type="text"]{
	width: 100%;
}

.one, input[type="email"]{
	width: 100%;
}

.twoo, input[type="password"]{
	width: 100%;
}

.twoone, input[type="password"]{
	width: 100%;
}

.name{
	display: flex;
	align-content: space-between;
}

.month{
	display: flex;
	align-content: space-between;
}

.month{
	padding-top: 20px;
	padding-right: 20px;
}

input[type="month"]{
	
	width: 100%;
}

.styled-select select{
   background: transparent;
   width: 200px;
   border: none;
   border-bottom: solid 1px #ccc;
}

button{
	text-transform: uppercase;
	background-color: #008b8b;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 20px;
	color: white;
	position:absolute;
	bottom:0; 
	right:0;
	margin-right: 20px;
	border-radius: 5px;
}

hr{
	color: lightgrey;
}
